
.chat-screen{
    background-image: url('../img/bg_chat.png');
    min-height: 100vh; /*viewport(=screen) height를 100%*/
}

.chats-body{
    padding: 0px;
    padding-top: 110px;
}

.chats-body .header,
.chats-body .status-bar{
    padding: 0px 20px;
}

.chat-screen .chat__messages{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}

.chat__messages .chat__timestamp{
    background-color: white;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
    text-transform: uppercase;
}

.message {
    display: flex;
    align-items: flex-start;
}

.message__content span{
    display: block;
}

.chat__messages .incoming-message{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.chat__messages li.incoming-message{
    align-self: flex-start;
    width: 80%;
}
.chat__messages li.outgoing-message{
    align-self: flex-end;
}

.chat__messages .message__content .message__bubble{
    background-color: rgb(255, 239, 93);
    padding: 10px 20px;
    margin-left: 5px;
    border-radius: 5px;
    box-shadow: 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
}

.chat__messages .incoming-message .message__content .message__author{
    padding-left: 10px;
    padding-bottom: 3px;
    font-weight: 700;
}

.chat__messages .outgoing-message .message__content .message__bubble{
    background-color: rgb(255, 255, 255);
    text-align: right;
}


.chat__messages .incoming-message img{
    width: 40px;
    border-radius: 10px;
}


.chat__write-container{
    background-color: #fcfcfc;
    position: fixed;
    left:0px;
    right: 0px;
    bottom: 0px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

.chat__write{
    bottom:0px;
    width:100%;
    border-radius: 0;
    padding: 10px 60px;
    border: none;
    font-size: 14px;
}

.chat__icon-left{
    position: absolute;
}

.chat__icon-right{
    position: absolute;
    right:10px;
    
}

.chat__write:focus{
    outline: none;
}

.chat__icon{
    font-size: 22px;
    transition: opacity 1s ease-in-out;
}

.chat__write:focus ~ .chat__icon{
    opacity: 0;
}

.chat__write .chat__write-column:nth-child(2){
    width: 80%;
}

/* .chat__write .chat__write-column input {
    padding: 5px 10px;
    width: 100%;
} */



.chat__write:focus ~ .chat__icon{
    display: none;
}

.chat__write .chat__write-column i{
    font-size: 22px;
}

.chat__write .chat__write-column span{
    margin-right: 5px;
}