.find .find__header .find__header-list {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 20px 0px;
  border-bottom: 1px solid rgb(236, 236, 236);
  margin-bottom: 15px;
}

.find .find__header-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%;
}

.find .find__header-list {
  display: flex;
  justify-content: space-between;
}

.find .header-btn__title {
  margin-top: 10px;
  color: rgb(22, 22, 22);
  font-size: 13px;
  text-align: center;
}

.find .header-btn__icon {
  font-size: 12px;
}

.find .find__recommended .find__title {
  margin: 5px 0px;
  color: rgb(22, 22, 22);
  font-size: 13px;
}

.friend__column .friend__add-btn {
  border-radius: 5px;
  background-color: #a7cdc0;
  padding: 10px;
  font-size: 14px;
}

main.find {
  padding: 20px 15px;
}
