.header {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-bottom: 30px;
    align-items: center;
}

header .header__title{
    font-size : 24px;
    font-weight: 600;
}

header .header__icon {
    font-size: 25px;
    margin-left: 20px;
    cursor: pointer; /* mouseOver시에 손모양으로 바뀜*/
}

header .header__back-btn{
    font-size:25px;
}

header .header__header-column{
    display: flex;
}

header .header__title{
    margin-left: 10px;
}
