main span {
  font-size: 14px;
}

.more {
  padding: 20px;
}

.more__header .friends__friend {
  margin-bottom: 10px;
}

.more__header .friend__column:nth-child(2) {
  color: #00714b;
  margin-right: 20px;
  font-size: 16px;
}

.more__header .more__btn-list,
.more__suggestions .more__suggestion-list {
  display: flex;
  justify-content: flex-start;
  padding: 15px 10px;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.more__header .more__btn-list li.more__btn,
.more__suggestion {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 25%;
  text-align: center;
}

.more__btn-list {
  color: #00714b;
}

.more__header .more__btn-icon {
  margin-bottom: 5px;
}

.more__suggestions .more__title {
  padding: 10px 0px;
  font-size: 12px;
  font-weight: 700;
}

.suggestion__icon i {
  background-color: #fce006;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 8px;
}
